<div layout="row" class="bh-navbar">
  <md-toolbar class="layout-max" layout="row" layout-align="center">
    <div flex="initial">
      <img class="bh-navbar-logo" ng-src="assets/images/bh-logo.png" alt="Babylon Health Logo" ui-sref="home">
    </div>
    <div flex layout="column">
      <md-tabs md-selected="selectedTabIndex">
        <md-tab id="home" aria-controls="home" ui-sref="home">Home</md-tab>
        <md-tab id="consultation" aria-controls="consultation" ui-sref="consultation">Book a Consultation</md-tab>
      </md-tabs>
    </div>
  </md-toolbar>
  <div>
