$bh-green: rgba(109, 190, 189, 1);
$bh-green-light: rgba(109, 190, 189, 0.6);
$bh-blue: rgba(99, 138, 192, 1);
$bh-blue-light: rgba(99, 138, 192, 0.6);
$bh-purple: rgba(110, 90, 133, 1);
$bh-grey: rgba(0, 0, 0, 0.66);
$bh-grey-light: rgba(0, 0, 0, 0.33);
$bh-grey-lighter: rgba(0, 0, 0, 0.22);
